<head>
    <meta charset="utf-8">
    <title>Node Tutorial</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        padding: 15px;
    }

    table {
        border-spacing: 15px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function subscribe_chicken() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/subscribe_chicken'
        });
        alert("Subscribed to chicken Details successfully");
    }
    function unsubscribe_chicken() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/unsubscribe_chicken'
        });
        alert("Un-Subscribed from chicken Details successfully");
    }

    function subscribe_fish() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/subscribe_fish'
        });
        alert("Subscribed to Fish Details successfully");
    }
    function unsubscribe_fish() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/unsubscribe_fish'
        });
        alert("Un-Subscribed from Fish Details successfully");
    }

    function subscribe_pork() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/subscribe_pork'
        });
        alert("Subscribed to pork Details successfully");
    }
    function unsubscribe_pork() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/unsubscribe_pork'
        });
        alert("Un-Subscribed from pork Details successfully");
    }

    function subscribe_beef() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/subscribe_beef'
        });
        alert("Subscribed to beef Details successfully");
    }
    function unsubscribe_beef() {
        $.ajax({
            type: "POST",
            url: 'http://localhost:4000/unsubscribe_beef'
        });
        alert("Un-Subscribed from beef Details successfully");
    }
</script>

<body>

    <body>
        <div class="head-container" align="CENTER">
            <h1>Food Details</h1>
        </div>
        <table align="CENTER">
            <tr>
                <th><B><span>Chicken</span></B></th>
                <th><button onclick="subscribe_chicken()">Subscribe</button></th>
                <th><button onclick="unsubscribe_chicken()">Un-Subscribe</button></th>
            </tr>
            <tr>
                <th> <B><span>Fish</span></B></th>
                <th><button onclick="subscribe_fish()">Subscribe</button></th>
                <th><button onclick="unsubscribe_fish()">Un-Subscribe</button></th>
            </tr>
            <tr>
                <th> <B><span>Pork</span></B></th>
                <th><button onclick="subscribe_pork()">Subscribe</button></th>
                <th><button onclick="unsubscribe_pork()">Un-Subscribe</button></th>
            </tr>
            <tr>
                <th> <B><span>Beef</span></B></th>
                <th><button onclick="subscribe_beef()">Subscribe</button></th>
                <th><button onclick="unsubscribe_beef()">Un-Subscribe</button></th>
            </tr>
        </table>

        <table align="CENTER">
            <tr>
                <th><B><span>Food Name</span></B></th>
                <th><B><span>Protein</span></B></th>
                <th><B><span>Calories</span></B></th>
            </tr>
            <tr>
                <th><B>
                        <% if(name){ %>
                            <span>
                                <%= name%>
                            </span>
                            <% } else{ %>
                                <span>-</span>
                                <% } %>
                    </B></th>
                <th>
                    <% if(protein){ %>
                        <span>
                            <%= protein%>
                        </span>
                        <% } else{ %>
                            <span>-</span>
                            <% } %>
                </th>
                <th>
                    <% if(calories){ %>
                        <span>
                            <%= calories%>
                        </span>
                        <% } else{ %>
                            <span>-</span>
                            <% } %>
                </th>
            </tr>
        </table>

    </body>
</body>